extends layout

block content
  main
    +menu()
    +title("About this app")
    +text("This is just a copy of basic project that I created one with vanilla javascript one other one with vue.js and another one using svelte to start Express with Pug", "text-center")