extends layout

block content
  main
    +menu()
    +title('Great success!')
    figure(class='me')
      a(href='/about')
        img(alt='Myself' src='/images/me.jpg')
      figcaption
        | HIGH FIVE!
