extends layout

block content
  main
    +menu()
    +search
    section(class='js-no-results no-results')
      p(class='no-results__msg')
       | No results found
    div(class='js-content users')
      +userCards(spec)