mixin search()
  section.search
    +title('Search Your Team', 'search__title')
    input(type="search" id="js-search-input" name="search" class="search__input" placeholder="Search")
    i.icon-search