/** Font family **/
/** Font size **/
/** Font weight **/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons.eot?lcgmzt");
  src: url("../fonts/icons.eot?lcgmzt#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?lcgmzt") format("truetype"), url("../fonts/icons.woff?lcgmzt") format("woff"), url("../fonts/icons.svg?lcgmzt#icomoon") format("svg");
  font-weight: 400;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\e900"; }

.icon-search:before {
  content: "\e901"; }

.icon-location:before {
  content: "\e902"; }

.icon-phone:before {
  content: "\e903"; }

body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #777;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px; }
  @media print, (min-width: 1280px) {
    body, html {
      font-size: 16px; } }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #0050a0; }

label {
  display: block; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px; }

input:disabled {
  color: #ccc; }

input[type="range"] {
  height: 0; }

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none; }

button:disabled {
  color: #ccc; }

button:not(:disabled):active {
  background-color: #f4f4f4; }

button:focus {
  border-color: #666; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons.eot?lcgmzt");
  src: url("../fonts/icons.eot?lcgmzt#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?lcgmzt") format("truetype"), url("../fonts/icons.woff?lcgmzt") format("woff"), url("../fonts/icons.svg?lcgmzt#icomoon") format("svg");
  font-weight: 400;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\e900"; }

.icon-search:before {
  content: "\e901"; }

.icon-location:before {
  content: "\e902"; }

.icon-phone:before {
  content: "\e903"; }

.app {
  border: 5px #000 solid;
  margin: 15px;
  max-height: calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  padding: 10px 30px;
  overflow-y: auto; }

h1 {
  color: #e40614;
  text-align: center; }

.me {
  margin: 0 auto;
  max-width: 40vw; }

img {
  width: 100%; }

figcaption {
  margin-top: 30px;
  text-align: center; }

.text-center {
  text-align: center; }

/* Source: https://loading.io/css/ */
.spinner {
  display: flex;
  height: 64px;
  justify-content: center;
  position: absolute;
  opacity: 1;
  transition: 1s opacity;
  width: 100%; }
  .spinner div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 6px solid #ccc;
    border-color: #ccc transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 51px;
    margin: 6px;
    position: absolute;
    width: 51px; }
    .spinner div:nth-child(1) {
      animation-delay: -0.45s; }
    .spinner div:nth-child(2) {
      animation-delay: -0.3s; }
    .spinner div:nth-child(3) {
      animation-delay: -0.15s; }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.is-hidden {
  display: none !important; }

.nav {
  border-bottom: 1px solid rgba(255, 62, 0, 0.1);
  display: flex;
  font-weight: 300;
  height: 50px;
  justify-content: center;
  padding: 0; }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: block;
    float: left; }
    .nav__item > a {
      color: #333;
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding: 1em 0.5em; }
      .nav__item > a.active:after {
        position: absolute;
        content: "";
        width: calc(100% - 1em);
        height: 2px;
        background-color: #ff3e00;
        display: block;
        bottom: -1px; }

.no-results {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; }
  .no-results__msg {
    font-size: 2rem;
    font-weight: 300; }

.search {
  margin: 30px auto 60px;
  padding: 0;
  position: relative;
  width: 300px; }
  .search__title {
    color: #333;
    font-size: 1.4rem;
    font-weight: normal; }
  .search__input {
    border: 2px solid #ccc;
    border-radius: 3px;
    color: #ccc;
    font-size: .9rem;
    height: 30px;
    padding: 5px 40px 5px 10px;
    width: 100%; }
  .search__button {
    background: transparent;
    border: 0;
    border-left: 2px solid #ccc;
    cursor: pointer;
    color: #ccc;
    height: 30px;
    line-height: .8;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
    .search__button:hover {
      background: #ccc;
      color: #fff; }
    .search__button:disabled {
      display: none; }
  .search .icon-search {
    bottom: 14px;
    position: absolute;
    right: 6px; }

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 1;
  transition: 2s opacity; }
  .users__content {
    border-radius: 3px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
    margin: 0 20px 40px;
    width: 250px; }
  .users__item {
    align-items: center;
    display: flex;
    font-size: .9rem;
    margin-bottom: 10px; }
    .users__item--id {
      font-size: .8rem;
      margin: 15px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .users__item--user {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .users__link {
    color: #777;
    text-decoration: none;
    text-indent: 0; }
    .users__link:hover {
      text-decoration: underline; }
  .users__button {
    align-items: center;
    background: transparent;
    border: 2px solid #ccc;
    bottom: 10px;
    color: #777;
    cursor: pointer;
    display: flex;
    font-size: .8rem;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    text-decoration: none; }
    .users__button .icon-phone {
      padding-right: 10px; }
    .users__button:hover {
      background: #ccc;
      color: #fff; }

/*# sourceMappingURL=style.css.map */